<html>

<body>
{% extends 'navbar.html' %}
{% block content %}
    <br>
    <br>
    <div class= "page-header" style="text-align:center">
     <h2>MyStore</h2>
    </div>
<style type = "text/css">

.centerdv
	{
			width: 45%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
	}

</style>
<h3 style = "text-align:center">Orders</h3>
<div class = "container centerdv">
  {% for order in orders %}
  <div class ="well">
    <b>Name:</b>
    <br>
    {{order.first_name}}
    {{order.last_name}}
    <br>
    <b>Address:</b>
    {{order.address}}
    {{order.city}}
    <br>
    <b>Payment Information</b>
    <br>
    {{order.payment_method}}
    {{order.payment_data}}
    <br>
    <b>Order Items</b>
    <br>
    {{order.items}}
    <br>

   </div>
	{% endfor %}
</div>
<br>
<br>

<div class ="jumbotron centerdv">
	<h2>Order status is seen!. Return to the main page</h2>
    <button class = "btn btn-success btn-lg" onclick ="window.location='/';">Return to main store page</button>
</div>

{% endblock %}	
</body>
</html>

