<html>

<body>
{% extends 'navbar.html' %}
{% block content %}
	<br>
	<br>
	<div class = "page-header" style="text-align:center">

		<h2>MyStore <br> <br> <small>The place to shop</small></h2>
	</div>
	<style type = "text/css">
	.centerdv
	{
			width: 45%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
	}

</style>
<div class ="jumbotron centerdv">
	<h2>Order is completed!!. Thanks for purchasing from here</h2>
<!-- Once the order is complete the user can go to the main page and cart is shown as empty. This is important to empty the code once the order is purchased. For coding and every function please approach to the views.py file. 	 -->
    <button class = "btn btn-success btn-lg" onclick ="window.location='/';">Return to main store page</button>
</div>
{% endblock %}	
</body>
</html>
