<html>
    <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class = "nabvar navbar-default navbar-fixed-top">
        <ul class ="nav navbar-nav navbar-left">
            <li><a class ="navbar-brand" href="">Home</a></li>
            <li><a href ="/admin-login/">Admin Login</a></li>
         
        </ul>
        
        <ul class ="nav navbar-nav navbar-right">
                <li><a class ="navbar-brand" href="/home/cart/">Cart:<b>({{cart_size}}) Items</b></a></li>
                <li><a href ="#">Checkout</a></li>
             
            </ul>
    </nav>
    <br>
    <br>
    <div class= "page-header" style="text-align:center">
     <h2>Welcome to the store</h2>
    </div>

    <div class ="row">
        {% for product in store_items %}
        <div class="col-md-4 well" style="text-align:center">
        <b>{{product.name}}</b>
        <br>
        <p>{{product.description}}</p>
        <br>
        <br>
        <img src={{product.imagelink}} style="max-width:200px">
        <br>
        <br>
        <span class ="label label-primary">{{product.price}}</span>
        <br>
        <br>
        <br>
        <form method="post"> 
        
        {% csrf_token %}
        <input type="submit" value="Add to cart!" class ="btn btn-success">
        <input type="hidden" name="obj_id" value={{product.id}}>
        </form> 
        
        {% endfor %}
        </div>
    </div>
    
    </body>
</html>