<html>
    <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class = "nabvar navbar-default navbar-fixed-top">
        <ul class ="nav navbar-nav navbar-left">
            <li><a class ="navbar-brand" href="">Home</a></li>
            <li><a href ="/admin-login/">Admin Login</a></li>

        </ul>

        <ul class ="nav navbar-nav navbar-right">
                <li><a class ="navbar-brand" href="/home/cart/">Cart:<b>({{cart_size}}) Items</b></a></li>
                <li><a href ="#">Checkout</a></li>

            </ul>
    </nav>
    <br>
    <br>
    <div class= "page-header" style="text-align:center">
     <h2>MyStore</h2>
    </div>
<style type = "text/css">

.centerdv
	{
			width: 45%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
	}

</style>
<h3 style = "text-align:center">Orders</h3>
<div class = "container centerdv">
  {% for order in orders %}
  <div class ="well">
    <b>Name:</b>
    <br>
    {{order.first_name}}
    {{order.last_name}}
    <br>
    <b>Address:</b>
    {{order.address}}
    {{order.city}}
    <br>
    <b>Payment Information</b>
    <br>
    {{order.payment_method}}
    {{order.payment_data}}
    <br>
    <b>Order Items</b>
    <br>
    {{order.items}}
    <br>

   </div>
	{% endfor %}
</div>
</body>
</html>

